.bg-pink{
    background-color: rgb(243, 188, 197) !important;

}
.parent{
    background-color: red;
   
}
.left{
    background-color: rgb(252, 232, 232);
    height: 600px;
}

.right{
    height: 600px;
}
