#pics {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.picBox {
    background-image:url("./Images/bgWed.jpg");
    width: 19vw;
    height: 19vw;
    border-radius: 50%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #819191;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
}

td,th{
    padding: 5px 10px;
}
#enPg {
    width: 13vw;
    height: 13vw;
    border-radius: 10px;

    
}
.list-group {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width:200px;
    
}
footer{
    background: #818181;
    /* position: fixed;
    bottom: 0; */
    padding: 2px;
    width: 100%;    
}
@media(max-width:900px){
#pics{
    flex-direction: column;
    height:unset;
}
.picBox{
    width: 100%;
    height:50vw;
    border-radius: 0;
    margin-bottom: 5px;
}
}
#corner a{
    background-color: #d4a59a;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    color: white;
}
h1 {
    color: #819191
}
table{
    padding-top: 100px;
}
.row{
    margin-top: 0px;
}